@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.hill {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: white;
}
.home{
    height: 100vh;
}
.sliding-text {
  font-size: 1.4rem;
}
.links {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  margin-left: 5rem;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(6);
  font-size: 1.5rem;
}
.first-page{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: rgb(21, 21, 21);
    color: #fff;
}
.first-page img{
    height: 100%;
}